@model Squid.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome</title>
</head>
<body>
<div>
      <h1>Welcome @Model.Username!</h1>
</div>
</body>
</html>